    {%extends 'project-base.html'%}
    {%load static%}
    {%block title%}KongUConnect - {%block module%} Base {%endblock%}{%endblock%}
    {%block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% endblock %}
    {%block topbar-button%}
    {%block topbar-button-one%}<a href="#"><button class = "coreui-topbar-btn">Core UI</button>{%endblock%}
    {%block topbar-button-two%}<a href="#"><button class = "coreui-topbar-btn">Features</button>{%endblock%}
    {%block topbar-button-three%}<a href="#"><button class = "coreui-topbar-btn">Under</button>{%endblock%}
    {%block topbar-button-four%}<a   href="#"><button class = "coreui-topbar-btn">Development</button>{%endblock%}
    {%endblock%}