{%extends 'base.html'%}
{%load static%}
{%block content%}
<h2>Log In</h2>
<table>
    <form method="POST">
    <tr>
      <td><label for="username">Username:</label></td>
      <td><input type="text" id="username" name="username"></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="password" id="password" name="password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Login"></td>
    </tr></form>
  </table>
</form>
<p>Not a user? <a href="#">Sign Up.</a></p>{%endblock%}