{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {%block css%}  {% endblock %}
</head>
<body>
    <div style="background-color: #346U; height: 50px;"></div>
    <div style="position: fixed; top: 50px; right: 0;">
        {%block topbar-button%}{%endblock%}
    </div>
    <div style="position: fixed; top: 50px; right: 0;">
       <a href="#"> <button style="margin-right: 10px;">Log in</button></a>
       <a href="#"> <button>About Us<button></a>
    </div>
    {% block content %}{% endblock %}
</body>
</html> 
