{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class='top-bar'>
        <div class='top-bar left-align'>
            {% block topbar-button %}{% endblock %}
        </div>
        <div class='top-bar right-align'>
            <a href="#"><button class='top-bar button btn'>Log In</button></a>
            <a href="#"><button class='top-bar button btn'>About Us</button></a>
        </div>
    </div>
    <div class='content' style="margin-top: 50px">
    {%block content%}{%endblock%}
    </div>
</body>
</html>